{% extends 'layout/base.html.twig' %}

{% block page %}
    <h1><span>Bienvenue dans la distribution</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} d'ALPIXEL</h1>
{% endblock %}

