{% extends 'layout/base.html.twig' %}

{% block page %}
    <h1><span>Bienvenue dans la distribution</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} d'ALPIXEL</h1>
    <img src='http://media.rd.com/rd/images/rdc/slideshows/10-cool-dogs/10-cool-dogs-ginger-af.jpg' />
{% endblock %}

