/*
    * COMMON OOCSS FILE
        - Admin bar
*/
// Admin bar
.wrap-admin-edit-link {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    background-color:rgba(0,0,0,0.7);
    padding:10px 0;
    text-align:center;

    a {
        ._reset;
        color:white;
        ._inline;
        color:white;
        padding:0px 20px;
        line-height:30px;
        ._border-radius(3px);
        ._btn(#961010);
        ._transition;

        &:before {
            ._io('\f37e');
            margin-right:15px;
            font-size:1em;
            color:white;
        }
    }
}
