@import '../../../../../web/lib/ChuckCSS/chuckcss/core/functions.less';
@primary : #00777d;
@text-mc: #333333;
@text-fs : 16px;
@text-lh : 1.5;
@fontPath : '../fonts';

// @font-face {
//     font-family: 'futura';
//     src: url("@{fontPath}/Futura-Book.eot");
//     src: url("@{fontPath}/Futura-Book.eot?#iefix") format("embedded-opentype"),
//     url("@{fontPath}/Futura-Book.woff") format("woff"),
//     url("@{fontPath}/Futura-Book.ttf") format("truetype"),
//     url("@{fontPath}/Futura-Book.svg#Futura-Book") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }
// .futura(){
//     font-family: 'futura';
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }


// Generate Images width for wysiwyg render
._generateImgWidth(@iterator:10) when(@iterator <= 100) {
    body img {
        &.w@{iterator} {
            width:unit(@iterator,%);
            max-width:unit(@iterator,%);
            min-width:unit(@iterator,%);
        }
    }
    ._generateImgWidth(@iterator + 10);
}
._generateImgWidth; // Launch _generateImgWidth


html {
    background-color:#f0f0f0;
}
body {
    background-color:white;
    font-family:Arial,Helvetica, sans-serif;
    margin: 20px auto;
    overflow-x:hidden;
    max-width:94%;
    padding:20px;
    border:1px dashed #CECECE;
    text-align:justify;
    font-size: @text-fs;
    line-height: @text-lh;
    color: @text-mc;
    overflow-x: hidden;
    ._box-sizing(border-box);

    &.cke_ltr {
        font-size:11px;
    }

    /* Box-sizing */
    *,
    *:before,
    *:after {
        ._box-sizing(border-box);
    }

    /* Reset all styles */
    div,dl,dd,dt,p,ul,li,ol {
        ._reset;
        list-style:none;
    }


    /* ======================= */
    /* ==== HTML ELEMENTS ==== */
    /* ======================= */

    /* Ordered lists */
    ol {
        margin:1em;

        li {
            list-style:decimal;
        }
    }

    /* Unordered lists */
    ul {
        margin:1em;
        li {
            list-style:none;
            position:relative;

            &:before {
                ._fa('\f111',0.5em,@primary);
                position:absolute;
                left:-15px;
                top:8px;
            }
        }
    }

    /* Titles */
    h1,h2,h3,h4,h5,h6 {
        ._reset;
        //.futura;
        ._uppercase;
        font-weight:400;
    }
    h2 {
        font-size:1.37em;
        line-height:1.2;
        color:@primary;
        text-transform:none;
    }
    h3 {
        font-size:1.18em;
        color:#333333;
        line-height:1.2;
        text-transform:none;
    }


    /* Images */
    img {
        display:block;
        max-width:40%;
        height:auto;

        // left float
        &.left {
            float:left;
            margin-right:40px;
            margin-bottom:20px;
        }
        // right float
        &.right {
            float:right;
            margin-left:40px;
            margin-bottom:20px;
        }
        // block image
        &.block {
            min-width:100%;
            max-width:100%;
            width:100%;
            margin:0 auto;
        }
        // centered
        &.centered {
            display:block;
            margin:0 auto;
        }
    }

    /* links */
    a {
        color:@primary;

        &.btn {
            ._inline;
            text-decoration:none;
            color:white;
            padding:0.25em 0.8em;
            line-height:1.8;
            border:1px solid @primary;
            text-align:center;
            vertical-align:middle;
            ._border-radius(unit(3,px));
            ._btn(@primary);
            ._transition;

            &:focus,
            &:active,
            &:visited {
                outline:none;
            }
        }
    }

    /* Blockquotes */
    blockquote {
        ._reset;
        padding: .3em .3em .3em 2em;
        border-left: 4px solid @primary;
        font-style: italic;
        margin: 1.5em 0;
        color:#535252;
    }

    /* Line break */
    hr {
        height:1px;
        border:0;
        background-color:@primary;
        margin:20px 0;
    }


    /* Tables */
    table {
        margin-bottom:0;
        width:100% !important;
        border:0;

        thead {
            td,th {
                padding:8px;
                border:0;
                font-weight:400;
                background-color:@primary;
                color:white;
                // .futura;
                font-size:1.18em;
            }
        }

        td {
            padding:8px;
            border:0;
            background-color:white;
            border-bottom:1px solid #a8a8a8;
            color:#5c5c5c;
            vertical-align:top;

            p,div {
                color:#5c5c5c;
            }
        }

        tr {
            &:nth-child(2n) {
                td {background-color:#f4f4f4}
            }

            &:last-child td {
                border-bottom:4px solid @primary;
            }
        }

        img {
            max-width:100%;

            &.centered {
                display:block;
                margin:0 auto;
            }
        }

        // Basic tables
        &.no-lines {
            thead,
            tbody,
            tfoot {
                th,td {
                    padding:5px;
                    border:2px dashed #eeeeee;
                    background-color:transparent;
                    color:@text-mc;
                }
            }
        }
    }
}
