{% block header %}
    <header id="main-header">

        {# Hamburger for phone devices #}
        <div class="cc-s-only open-menu">
            <button class="hamburger hamburger--elastic" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
        </div>

        Coucou, je suis le header
    </header>
{% endblock %}
